@charset "UTF-8";

@media screen and (min-width: 720px) and (max-width: 992px) {
    
    section#cadastro {
        width: 90vw;

    }


    section#cadastro > div#imagem {
        display: block;
        background-image: url('/../teste-query-9/imagens/astronauta.png');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

}

@media screen and (min-width: 992px) {
    
    section#cadastro {
        width: 950px;
        margin: 20px 0px;
    }

    section#cadastro > div#imagem {
        display: block;
        background-image: url('/../teste-query-9/imagens/astronauta.png');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        float: right;
        width: 50%;
        height: 100%;
        overflow: hidden;
    }
}